body,
h1 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
}

.bgimg {
  /* background-image: url('../bg.jpg'); /* Adjusted path to go one level up */
  background-color: #040204;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.center-text {
  text-align: center;
}

.title-margin {
  margin-top: 30px;
  /* Adjust the value as needed */
}

.full-height {
  height: 100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}

footer {
  background-color: #343a40;
}

.text-green {
  color: #0eab0e;
  /* Text color */
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 5px #0eab0e, 0 0 6px #0eab0e, 0 0 7px #0eab0e, 0 0 8px #0eab0e, 0 0 9px #0eab0e;

}

.center {
  display: flex;
  justify-content: center;
  /* Center horizontally */
}