body, h1 {
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
}

.bgimg {
  background-image: url('../bg.jpg'); /* Adjusted path to go one level up */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.center-text {
  text-align: center;
}

.full-height {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1;
}