body, h1 {
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
}

.bgimg {
  background-image: url('../bg.jpg'); /* Adjusted path to go one level up */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.center-text {
  text-align: center;
}

main {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}